body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #5e6061;
  font-family: sans-serif;
  margin-top: 10px;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

/* Add this to the container/parent element that holds the buttons */
.set {
  padding: 0;
  display: grid;
  justify-content: center;
  gap: 10px;  /* Space between buttons */
  max-width: 800px;  /* Optional: maximum width of the grid */
  margin: 0 auto;  /* Centers the grid */
  padding: 20px;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/crash.png");
}

.w, .a, .s, .d, .j, .k, .l {
  display: block;  /* Makes buttons stack vertically */
  width: 50%;
  margin: 0px auto;  /* Adds vertical spacing between buttons and centers horizontally */
  margin-bottom: 10px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  transition: all 0.1s ease-out;  /* Faster transition */
  color: white !important;  /* Override the default color */
  text-shadow: 3px 0 #666; /* Darker shadow for better visibility */
}

.red {
  color: red;
}

body .set button.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 4rem;
  font-family: 'Arvo', cursive;
  line-height: 1;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((100vh - 200px) / 7);
  margin: 5px;
  background-color: transparent;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
  transition: color 0.1s ease-out;
}

body .set button.drum.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  color: white !important;
  text-shadow: 3px 0 #666;
  transition: all 0.1s ease-out;
}

#title {
  margin-top: 0;
  margin-bottom: 10px;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version */
    touch-action: manipulation;  /* Disable double-tap zooming */
}

.drum {
    aspect-ratio: 4;
    width: 100%;
    margin: 0;
}

.drum:last-child {
    grid-column: 1 / -1;
    width: 100%;
    margin: 0 auto;
}